* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 3em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {

    &__title {
        margin-bottom: 2em;
    }
    
    &__title::after {
        content: '';
        width: 50%;
        transform: translateY(.3em);
        height: 0.1em;
        background-color: #000;
        display: block;
        margin: auto;
    }
}

.playboard {
    margin: auto;
    width: 85%;
    margin-top: 2em;
    display: grid;
    justify-items: center;
    row-gap: 3em;
    grid-template-columns: repeat(6, 1fr);
    transform-style: preserve-3d;
    perspective: 5000px;
}


@media only screen and (max-width: 1850px) {
    .playboard {
        grid-template-columns: repeat(4, 1fr);
        width: 70%;
    }

}

@media only screen and (max-width: 1540px) {
    .playboard {
        width: 85%;
    }

}

@media only screen and (max-width: 1270px) {

    .card {
        width: 190px;
        height: 266px;
    }

    .playboard {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media only screen and (max-width: 980px) {

    .header {
        margin-top: 1.5em;
        font-size: .9rem;
        
        &-title {
            margin-bottom: 2em;
        }
    }

    .card {
        width: 130px;
        height: 182px;
    }

    .playboard {
        grid-template-columns: repeat(3, 1fr);
        width: 60%;
    }

}

@media only screen and (max-width: 800px) {
    .playboard {
        width: 80%;
    }
    
}


@media only screen and (max-width: 600px) {
    .playboard {
        width: 85%;
    }
    
}


@media only screen and (max-width: 500px) {
    .playboard {
        width: 80%;
    }
    
    .playboard {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (max-width: 400px) {
    .playboard {
        width: 100%;
    }
    
    .playboard {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2em;
    }
}